@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Play', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(127, 127, 127);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ff7d00;
  border-radius: 10px;
}
